@model TellstickWeb.Models.TellstickDevice

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TellstickItem</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>